<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoTaker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6CABEC11E0F0D7D0048A2ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6CABED51E0F0D7E0048A2ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6CABEE01E0F0D7E0048A2ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
